# Ignore browser binaries
Test-Automation/BGAppworks/Browser/
Test-Automation/BGAppworks/Driver/
Test-Automation/BGAppworks/bin/

# Ignore executables and DLLs
*.exe
*.dll
*.dat
*.pak

# Ignore debugging and build output
**/bin/
**/obj/
TestResults/

# Ignore any leftover Chrome binaries
chrome-win64/
chromedriver*
